#svg {
    align-self: auto;
    width: 700;
    width: 280;
    display: block;
    margin: auto;
}
.mainViz {
    background-color: none;
    width: auto;
    height: 100%;
}

.centerGraphs {
    align-items: center;
    display: block; 
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.choroplethChart {
    background-color:#2f82a8c9;
}

.pieChart {
    background-color:#3b1a7991;
}

.Left {
    text-align: left;
    float:right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Right {
    text-align: right;
    float:left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scatterChart {
    align-items: center;
    display: block; 
    margin: auto;
}