#svg {
    align-self: auto;
    width: 700;
    width: 280;
    display: block;
    margin: auto;
}

.mainViz {
    background-color: none;
    width: auto;
    height: 100%;
}

.centerGraphs {
    align-items: center;
}